[include]
        path = ~/.gitconfig.local
[core]
        editor = nvim
	excludesfile = /Users/scottroberts/.dotfiles/git/.gitignore
[color]
	ui = true
	ui = true
[format]
        pretty=format:%C(yellow)%h%Creset -%C(red)%d%Creset %s %Cgreen(%ar) %C(bold blue)<%an %ae>%Creset
[alias]
        a = add
        aa = add --all
	st = status --short --branch
	co = checkout
        cv = commit -v
        unstage = reset HEAD
        wip = !git add --all && git commit -m 'WIP' && git push
        staash = stash --include-untracked
        pop =  stash pop
        ls = log --graph --format=format:'%Cgreen%h %Creset• %<(75,trunc)%s (%cN, %cr) %Cred%d' --date-order
        lg = !"git lg1-specific "
        lgx = !"git lg2-specific "
        lg1-specific = log --graph --abbrev-commit --decorate --format=format:'%C(bold blue)%h%C(reset) - %C(bold green)(%ar)%C(reset) %C(white)%s%C(reset) %C(dim white)- %an%C(reset)%C(bold yellow)%d%C(reset)'
        lg2-specific = log --graph --abbrev-commit --decorate --format=format:'%C(bold blue)%h%C(reset) - %C(bold cyan)%aD%C(reset) %C(bold green)(%ar)%C(reset)%C(bold yellow)%d%C(reset)%n''          %C(white)%s%C(reset) %C(dim white)- %an%C(reset)'

         # list aliases
         la = "!git config -l | grep alias | cut -c 7-"
[push]
	default = current
[credential]
	helper = osxkeychain
[commit]
    template = ~/.gitmessage
[rebase]
      autostash = true
      autosquash = true
[difftool "sourcetree"]
	cmd = opendiff \"$LOCAL\" \"$REMOTE\"
	path =
[mergetool "sourcetree"]
	cmd = /Applications/SourceTree.app/Contents/Resources/opendiff-w.sh \"$LOCAL\" \"$REMOTE\" -ancestor \"$BASE\" -merge \"$MERGED\"
	trustExitCode = true
[diff]
	compactionHeuristic = 1
[pager]
	log = /usr/local/share/git-core/contrib/diff-highlight/diff-highlight | less
	show = /usr/local/share/git-core/contrib/diff-highlight/diff-highlight | less
	diff = /usr/local/share/git-core/contrib/diff-highlight/diff-highlight | less
[interactive]
	diffFilter = /usr/local/share/git-core/contrib/diff-highlight/diff-highlight
