alias reload!='source ~/.zshrc'

# Detect which `ls` flavor is in use
if ls --color > /dev/null 2>&1; then # GNU `ls`
  colorflag="--color"
  else # OS X `ls`
  colorflag="-G"
fi
alias ll="ls -Gplh"

alias vim="nvim"

# Filesystem aliases
alias ..='cd ..'
alias ...='cd ../..'
alias ....="cd ../../.."
alias .....="cd ../../../.."

alias rt=$RUBY_TAG_COMMAND
alias vrc="nvim $HOME/.config/nvim/init.vim"
alias zrc="nvim $HOME/.zshrc"
alias beg="bundle exec guard"
alias bai="cd $HOME/development/baldwin-web"
alias vu="nvim +PlugInstall"
alias :q="exit"

alias ls="ls -lah ${colorflag}"
alias la="ls -AF ${colorflag}"
alias ll="ls -lFh ${colorflag}"
alias lld="ls -l | grep ^d"

# Helpers
alias grep='grep --color=auto'
alias df='df -h' # disk free, in Gigabytes, not bytes
alias du='du -h -c' # calculate disk usage for a folder

alias pg_start="pg_ctl -D /var/lib/postgres/data -l logfile start"

#git aliases
alias churn="git log --all --name-only --format='format:' | grep -v '^$' | sort | uniq -c | sort -n | tail"
alias gs="git st"
alias gl="git lg"
alias gcv="git commit -v"

[[ -f ~/.zsh/git.sh ]] && source ~/.zsh/git.sh
[[ -f ~/.aliases.local ]] && source ~/.aliases.local
